<div style="color: darkslategrey">
  <h1 style="font-size: 250%; font-weight: bold">Welcome, {{{name}}}!</h1>
  <p style="font-size: 200%; font-weight: bold">Thanks for registering. Please activate your account by following the
    link:</p>
  <a style="font-size: 200%; font-weight: bold; color: darkred" href="{{{url}}}">Activate account</a>
  <p style="font-size: 200%; font-weight: bold">Sincerely,<br>Team Doc24/7</p></div>